/*
CSS rules to specify families 
font-family: 'Montserrat',sans-serif;
font-family: 'Ubuntu',sans-serif;
*/

h2{
 font-family: 'Montserrat-bold', sans-serif;
 font-weight: bold;
 line-height:1.5;
 font-size: 3rem;
 color: #fff;
}
#title
{
  background-color: #3D8361;
}
body
{
font-family: 'Montserrat', sans-serif;
}
#title h1{
font-family: 'Montserrat', sans-serif;
font-size: 3rem;
line-height: 1.5;
color: #ffffff;
font-weight: 900;
}
.container-fluid
{
 padding: 3% 15%;
}

.navbar-brand{
 padding-bottom: 4.5rem;
}
.navbar-brand
{
 font-size: 3.5rem;
font-family: 'Ubuntu',sans-serif;
font-weight: bold;
}
.nav-item{
 padding: 0 18px;  
}
.nav-link
{
 font-size: 1.2rem;
 font-family:'Montserrat', sans-serif; 
}
/* download buttons */
.download-button
{
 margin:5% 3% 5% 0; 
}


#features
{
 padding: 7% 15%;
 
}
.features-box
{
 text-align: center;
 padding: 4.5%;
}
.icon
{
 color: #FAD6A5;
 margin-bottom: 1rem;
 font-size: 1.5rem;
}
.iocn:hover
{
 color:#ff4c68;
}
p{
 color: #8f8f8f;
}

#testimonials
{
background-color: #D6CDA4;
text-align: center; 
}
.testimonials-image
{
 width: 10%;
 border-radius: 100%;
 margin: 20px;
}
#press
{
 background-color:#ef8172;
 text-align: center;
 padding-bottom: 3%;
}
.press-image
{
 width: 15%;
 margin: 20px 20px 50px;
}
.carousel-item
{
padding: 7% 15%;
}

@media (max-width:900px)
{
 #title{
  text-align: center;
 }
.title-image{
 transform:  rotate(0);
}
}
#cta
{
 text-align: center;
 background-color: #3D8361;
 padding:7% 15%; 
 margin-top: 7%;
}
.cta-heading
{
 font-family: 'Montserrat-black';
 font-size: 1.5rem;
 color: white;
 line-height:1.5;
}

#footer
{
 padding: 7% 15%;
 text-align: center;
}
#footer p{
 padding-top: 5%;
}
.con
{
 padding: 2%;
 font-size: 1.5rem;
}
.banner
{
 width: 15%;
 display: inline-block;
}
